.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/wallpaper.png");
  background-size: cover;
  overflow: hidden;
}

.frameContainer {
  width: 100vw;
  height: 100vh;
  /* background-image: url("./images/frame.png");
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
