.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/wall_darker.png");
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

Footer {
  position: fixed;
  left: 20px;
  bottom: 0px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
