.App {
  text-align: center;
  width: 100vw;
  height: 200vh;
  background-image: url("./images/wall_darker.webp");
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

Footer {
  position: fixed;
  width: 15vw;
  left: 20px;
  bottom: 0px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  z-index: 1;
}

h1 {
  display: fixed;
  top: 0;
  right: 0;
  color: white;
  font-size: 2em;
  z-index: 50;
}
